@import "src/commun/styles/sass/variables";

.title {
  text-align: center;
  margin-bottom: 30px;
  overflow-wrap: break-word;
  &:hover {
    -webkit-text-stroke: 1px red;
    color: red;
  }

  & h2 {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px #333;
    background-color: inherit;
    border: 1px solid;
    width: 100%;
    cursor: pointer;
    &:hover {
      -webkit-text-stroke: 1px red;
      color: red;
    }



  }

  &::after {
    position: absolute;
    content: '';
    background-color: $primaryColor;
    width: 55px;
    height: 3px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

}



