@import "../../shared/styles/sass/variables";
@import "../../shared/styles/sass/mixins";

.burgerNav {
  background-color: $bgSecondColor;
  font-size: 1.20em;
  font-family: "Josefin Sans", sans-serif;
  @media screen and (max-width: 370px) {
    width: 94%;
  }
  @media screen and (min-width: 400px) {
    display: none;
  }


  .burgerNavItems {
    background-color: $bgSecondColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 0;
    padding: 20px;
    transform: translate(0, -150px);
    transition: 0.7s;

    @include flex(column, space-between, center, wrap);

    a {
      color: $primaryColor;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $primaryColor;
      }
    }

    .active {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  .show {
    transform: translate(0, 0);
    height: 130px;
  }

  .burgerBtn {
    @include flex(column, center, center, wrap);
    width: 30px;
    height: 30px;
    background-color: $primaryColor;
    position: absolute;
    bottom: 24px;
    right: 20px;
    .lineBurgerBtn {
      width: 20px;
      height: 3px;
      background-color: $bgSecondColor;
      margin: 2px 0;
    }
  }


}

a:-webkit-any-link {
  color: $bgSecondColor;
  cursor: pointer;
  text-decoration: underline;
}