@import "../../../shared/styles/sass/variables";
@import "../../../shared/styles/sass/mixins";

.hireBlock {
  padding: 50px 0;
  background-color: $bgSecondColor;

  .textAndButtonBlock {
    width: 100%;
    background-color: $bgSecondColor;
    text-align: center;
    @include flex(column, center, center, wrap);

    .text {
      font-family: $fontFamily;
      overflow-wrap: break-word;
      text-align: justify-all;

      & h3 {
        font-size: 30px;
        font-weight: 600;
        background-color: $bgSecondColor;
        letter-spacing: 2px;
        color: $titleColor;
        text-align: center;
      }
    }

    .btnContainer {
      @include flex(row, center, center, wrap);
      cursor: pointer;

      :hover {
        transform: scale(1.2);
        transition: all 0.4s linear 0s;

      }

      .btn {
        @include button($primaryColor, $fontFamily, 16px, 0s, 5px 60px, 30px, 1px solid transparent, 10px, 10px, relative, 1);
        width: 10%;
        @include flex(row, center, center, wrap);
        cursor: pointer;

        :hover {
          transform: scale(1);
        }

        a {
          text-decoration: none;
          text-decoration-thickness: 0;
          text-decoration-color: transparent;
        }
      }
    }
  }

}







