@import "src/commun/styles/sass/variables";
/*

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: $bgSecondColor;


}

*/

/*
.wave{
    background:
            linear-gradient(to right, sandybrown, chocolate);
    height: 50px;
    position: relative;
}

.wave::before, .wave::after{
    border-bottom: 5px solid yellow;
}

.wave::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-size: 20px 40px;
    background-image:
            radial-gradient(circle at 10px -15px, transparent 20px, yellow 21px);
}
.wave::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image:
            radial-gradient(circle at 10px 26px, yellow 20px, transparent 21px);
}


*/
