@import "src/commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";

.header {
    height: 80px;
    padding: 0 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $bgColor;

    @media screen and (max-width: 370px) {
        width: 99%;
    }
    @include flex(row, flex-end, center, wrap);
}