@import "src/commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";
@import "src/commun/components/button/Button.module";

.contactsBlock {
  padding: 50px 0;
  background-color: $bgColor;

  .contactsContainer {
    display: flex;
    justify-content: center;
    @include container();

    .contacts {
      width: 350px;
      text-align: center;
         @media screen and (max-width: 252px) {
        width: 100%;
      }

      .form {
        width: 100%;
        text-align: center;

         display: flex;
         flex-direction: column;
         justify-content: center;
             flex-wrap: wrap;
        .input {
          background-color: $inputColor;
          margin: 5px;
          -webkit-writing-mode: horizontal-tb !important;
          text-rendering: auto;
          color: $textColor;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          appearance: auto;
          -webkit-rtl-ordering: logical;
          cursor: text;
          font: 400 13.3333px Arial;
          padding: 1px 2px;
          border-width: 2px;
          border-style: inset;
          border-image: initial;
          overflow-wrap: break-word;

          &:-webkit-autofill {
            border: 1px solid $inputColor;
            -webkit-text-fill-color: #c49b66;
            -webkit-box-shadow: 0 0 0 1000px #252527 inset;
            transition: background-color 5000s ease-in-out 0s;
            &:focus {
              border: 2px solid $inputColor;
            }
          }
        }



        .textarea {
          color: $textColor;
          overflow: auto;
          margin: 5px;
          resize: vertical;
          background-color: $inputColor;
          font: 400 13.3333px Arial;
          padding: 1px 2px;
          border-width: 2px;
          border-style: inset;
          border-image: initial;
          overflow-wrap: break-word;
        }
      }
      .btn {
        @include button($primaryColor, $fontFamily, 16px, 0s, 12px 34px, 30px, 1px solid transparent, 10px, 10px, relative, 1);
        /*&::after {
          content: '';
          position: absolute;
          width: 50%;
          height: 10px;
          background: $primaryColor;
          bottom: 0;
          z-index: -1;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          color: $primaryColor;
          &::after {
            width:100%;
            height: 110%;
            transition: all 0.3s ease-in-out 0s;
          }
        }*/


      }
    }
  }
}


