.contactsBlock {
    padding: 50px 0;
    background-color: indianred;
    border: 1px solid;
}

.contacts {
    width: 100%;
    background-color: peru;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contactme {
    background-color: darksalmon;
    border: 1px solid;
    width: 250px;
    flex-wrap: wrap;
    /*margin-left: 40%;*/
}

.form {
    border: 1px solid;
    width: 250px;
    /*margin-left: 40%;*/
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input {
    margin: 5px;
}

.textarea {
    margin: 5px;
}

.buttonContacts {
    width: 250px;
    background-color: brown;
    /*flex-wrap: wrap;*/
    /*margin-left: 40%;*/
}