@import "../../../shared/styles/sass/variables";
@import "../../../shared/styles/sass/mixins";

.mainBlock {
  height: 90vh;
  padding: 50px 0;
  background-color: $bgColor;
  @include flex(row, space-around, center, nowrap);

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mainContainer {
    background-color: $bgColor;
    .greeting {
      background-color: $bgColor;
      width: 100%;
      @include flex(row, space-between, center, nowrap);
      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      .textBlock {
        width: 50%;
        font-size: 30px;
        text-align: left;
        @media screen and (max-width: 800px) {
          width: 100%;
          font-size: 20px;
          text-align: center;
          padding-left: 0;
          margin-bottom: 30px;
        }
        color: $titleColor;
        font-family: $fontFamily;
        padding-left: 20px;
        padding-right: 20px;
        background-color: inherit;
        overflow-wrap: break-word;

        .myName {
          font-family: $fontFamily;
          color: $primaryColor;
          display: block;
          font-size: 40px;
          @media screen and (max-width: 800px) {
            font-size: 30px;
          }
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          font-weight: bold;
        }
      }

      .imageContainer {
        position: relative;
        z-index: 2;

        .image {
          z-index: 1;
          height: 400px;
          width: 300px;
          background-position: center;
          background-image: url('./../../../shared/assets/image/myPhoto.jpg');
          background-size: cover;
          background-color: $bgColor;
          @media screen and (max-width: 800px) {
            height: 300px;
            width: 260px;
            transition: .5s;
            align-items: center;
          }

          &:before {
            content: "";
            position: absolute;
            height: 110%;
            width: 105%;
            border-radius: 20px;
            border: 6px solid $primaryColor;
            left: 15px;
            top: -15px;
            z-index: -1;
          }
        }
      }
    }
  }
}


















