@import "src/commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";

.skillsBlock {
  padding: 60px 0;
  background-color: $bgColor;

  .skillsContainer {
    background-color: $bgColor;

    .skills {
      background-color: $bgColor;
      /*width: 100%;*/
      @include flex(row, space-around, flex-start, wrap);
      overflow-wrap: break-word;
      margin-top: 30px;


    }
  }
}




