@import "src/commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";

.skillsBlock {
  padding: 50px 0;
  background-color: $bgSecondColor;
  .skillsContainer {
    background-color: $bgSecondColor;
     .skills {
      background-color: $bgSecondColor;
      width: 100%;
      @include flex(row, space-around, flex-start, wrap);
      overflow-wrap: break-word;
      margin-top: 30px;
    }
  }
}




