@import "variables";


@mixin container() {
  height: 100%;
  width: 80%;
  margin: 0 auto;

}

@mixin flex($flexDirection, $justifyContent, $alignItems, $flexWrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}

@mixin text($fontFamily, $fontSize, $wordWrap, $lineHeight,$fontWeight,$overFlowWrap, $textColor, $padding) {
  font-family: $fontFamily;
  font-size: $fontSize;
  word-wrap: $wordWrap;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  overflow-wrap: $overFlowWrap;
  color: $textColor;
  padding: $padding;
}

@mixin button($primaryColor, $fontFamily, $fontSize, $transitionDelay, $padding,
$borderRadius, $border, $marginLeft, $marginRight, $position, $zIndex) {
  background-color: $primaryColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  transition-delay: $transitionDelay;
  padding: $padding;
  border-radius: $borderRadius;
  border: $border;
  margin-left: $marginLeft;
  margin-right: $marginRight;
  position: $position;
  z-index: $zIndex;
}

@mixin bgSettings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

