$bgColor: #0F0F0F;
$bgSecondColor: #161617;
$primaryColor: rgb(196, 155, 102);
$textColor: #8f8f8f;
$titleColor: #f8f9fa;
$bgItemColor: #0a0a0c;
$fontFamily: 'Josefin Sans', sans-serif;
$inputColor: #222222;