@import "../../commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";

.project {
  width: 600px;
  background-color: $bgSecondColor;
  @include flex(column, center, center, nowrap);
  text-align: center;
  @media screen and (max-width: 700px) {
    width: 90%;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 0;
  }

  .imageContainer {
    position: relative;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    filter: sepia(20%);

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    @media screen and (max-width: 570px) {
      height: 250px;
    }


    .btnContainer {
      position: relative;
      z-index: 1;
      :hover {
        transform: scale(1.3);
        transition: all 0.4s linear 0s;
      }

      .btn {
        @include button($primaryColor, $fontFamily, 16px, 0s, 5px 60px, 30px, 1px solid transparent, 10px, 10px, relative, 1);
        width: 100%;
        text-align: center;

        :hover {
          transform: scale(1);
        }

        @media screen and (min-width: 458px) {
          padding: 6px 50px;
        }
      }
    }

  }

  .projectTitleAndDescription {
    background-color: $bgSecondColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projectTitle {
      font-family: $fontFamily;
      color: $titleColor;
      background-color: $bgSecondColor;
      width: 90%;
      overflow-wrap: break-word;
      line-height: 1.2;
      margin-top: 15px;
    }

    .description {
      @include text($fontFamily, 17px, break-word, 1.8, 400, break-word, $textColor, 5px);
      background-color: $bgSecondColor;
      line-height: 1.8;
      font-weight: 400;
      text-align: justify;
      padding: 20px 20px;
    }
  }
}










