@import "src/commun/styles/sass/variables";

.App {
position: relative;
  /* >div {
       &:nth-child(n) {
    background-color: $bgColor;
        }
     &:nth-child(2n) {
       background-color: $bgSecondColor;
     }
   }*/
}

