@import "../commun/styles/sass/variables";
@import "src/commun/styles/sass/mixins";

.projectsBlock {
  /*height: 80vh;*/
  padding: 60px 0;
  background-color: $bgSecondColor;

  .projectsContainer {
    background-color: $bgSecondColor;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      background-color: $bgSecondColor;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow-wrap: break-word;
      align-items: flex-start;
      margin-top: 30px;
      @media screen and (max-width: 1549px) {
        justify-content: center;
      }
    }
  }
}


